* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        font-family: 'poppins', sans-serif;
        background-color: #111;
        color: #fff;
}

header {
        background-color: #111;
        padding: 20px;
        text-align: center;
        color: #ffd700;
        font-family: 'Times New Roman', Times, serif;
}
nav {
        display: flex;
        border-radius: 10px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 10px 0;
        background-color: #000;
}
nav a {
        color: #ffd700;
        text-decoration: none;
        font-weight: 600;
        transition: color 0.3s ease;
}

nav a:hover {
        color: red;
}

.intro {
        background-color: #d40000;
        text-align: center;
        padding: 50px 10px;
        border-radius: 10px;
        width: 85%;
        margin: auto;
}
.intro h1 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 3em;
        color: #fff;
}
.intro p {
        font-size: 1.2em;
        margin-top: 10px;
        color: #fff;
}
.details {
        padding: 40px 20px;
        background-color: #111;
        text-align: center;
}
.details h2 {
        color: #ffd700;
        margin: 20px;

}
.details p {
    font-size: 1.2em;
    margin-top: 10px;
    max-width: 75%;
    margin: auto;
}
footer {
        background-color: #000;
        text-align: center;
        color: #888;
        padding: 15px;
        font-size: 0.9em;
}
