* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  color: #fff;
  background-color: #111;
  text-align: center;
}
nav {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  gap: 20px;
  justify-content: center;
  background-color: black;
  padding: 10px 0px;
}
nav a {
  color: #ffd700;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s ease; 
}
nav a:hover {
  color: red;
}
header {
  background-color: #d40000;
  padding: 40px;
  border-radius: 10px;
  margin: auto;
  margin-top: 40px;
  max-width: 85%;
}
header h1 {
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
}
.intro {
  margin: auto;
  max-width: 75%;
}
.head {
  color: #ffd700;
  margin: auto;
  margin-top: 40px;
  max-width: 75%;;
}
footer {
  background-color: black;
  color: #fff;
  padding: 15px;
  margin-top: 25px;
}