header {
    padding: 50px;
    font-size: xx-large;
    text-align: center;
    color: black;
    background-color: red;
}
nav {
  background-color: black;
  padding: 10px;
  text-align: center;
}
nav a {
  color: yellow;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}
nav a:hover {
  color: red;
}
body {
    color: black;
    background-color: whitesmoke;
}
h1 {
    font-size: large;
}
a {
    font-size: large;
    padding: 10px;
    color: gold;
}