header {
    padding: 20px;
    font-size: xx-large;
    text-align: center;
    color: black;
    background-color: red;
}
nav {
    color: black;
    background-color: gold;
}
body {
    color: black;
    background-color: whitesmoke;
}
h1 {
    font-size: large;
}